server {
  listen 80;

  location / {
    root /usr/share/nginx/html;
    index index.html;
  }

  location /api/ {
    proxy_pass http://app:8080;
  }

  location ^~ /internal-s3/ {
    internal;

    proxy_set_header Host ${AWS_S3_BUCKET};
    proxy_hide_header Content-Disposition;

    rewrite ^/internal-s3/(.*)$ /$1 break;
    proxy_pass https://${AWS_S3_BUCKET};

    resolver 8.8.8.8;
  }

  location ^~ /internal-local/ {
    internal;
    proxy_set_header Host app:8080;
    proxy_hide_header Content-Disposition;

    rewrite ^/internal-local/(.*)$ /$1 break;
    proxy_pass http://app:8080;
  }
}
